nav{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.picture{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.images{
    display: flex;
    margin: auto;
    width: fit-content;
}
